* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  text-decoration: none;
  transition: 0.2s linear;
  scroll-behavior: smooth;
}
html {
  font-size: 62.5%;
}
body {
  background: url("../Images/tbg.jpg");
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  height: 100vh;
  color: #fff;
}
/***** Re-Use Code *****/

.active {
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/***** End Re-Use Code *****/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 6rem;
  padding: 4.5rem 5%;
  background: transparent;
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;

  & nav {
    font-size: 1.8rem;
    font-weight: 500;
    display: inline-flex;
    gap: 2.6rem;

    & a {
      font-weight: bold;
      color: #fff;
      &:hover {
        background: linear-gradient(45deg, #f06, #3cf);
        font-weight: bold;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
      }
    }
  }
}

/***** Hero Section *****/

.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 7rem 5% 0;

  & .hero-content {
    display: flex;
    line-height: 1.2;
    max-width: 610rem;
    & h1 {
      font-size: 5.6rem;
      font-weight: 700;
    }
    & h2 {
      font-size: 3.2rem;
      font-weight: 600;
    }
    & p {
      font-size: 1.6rem;
      margin: 2.6rem 0 1.6rem 0;
    }
    & .btn {
      position: relative;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 18rem;
      height: 4.8rem;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      font-size: 1.9rem;
      color: #fff;
      font-weight: 600;
      letter-spacing: 0.1rem;
      z-index: 1;

      &::before {
        content: "";
        position: absolute;
        top: 0;
        inset: 0;
        background: linear-gradient(30deg, #f06, #3cf, #f06);
        z-index: -1;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        background-size: 200%;
        background-position: 0 0;
        filter: blur(5px);
        -webkit-filter: blur(5px);
      }
      &::after {
        content: "";
        position: absolute;
        top: 0;
        inset: 0;
        background: linear-gradient(45deg, #f06, #3cf, #f06);
        z-index: -1;
        background-position: 0 0;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        background-size: 200%;
        transition: 0.3s ease-in;
        -webkit-transition: 0.3s ease-in;
        -moz-transition: 0.3s ease-in;
        -ms-transition: 0.3s ease-in;
        -o-transition: 0.3s ease-in;
      }
      &:hover::after {
        background-position: 100% 0;
      }
    }
  }
  .hero-social-media-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2.6rem;
    gap: 1rem;
    & a img {
      transition: 1.2s;
      -webkit-transition: 1.2s;
      -moz-transition: 1.2s;
      -ms-transition: 1.2s;
      -o-transition: 1.2s;
    }
    & a:hover img {
      transform: scale(1.3) rotate(360deg);
      -webkit-transform: scale(1.3) rotate(360deg);
      -moz-transform: scale(1.3) rotate(360deg);
      -ms-transform: scale(1.3) rotate(360deg);
      -o-transform: scale(1.3) rotate(360deg);
    }
  }
  .hero-profile-img {
    width: 40.9rem;
    height: 40.9rem;

    & .glowing-circle {
      width: 100%;
      height: 100%;
      background: linear-gradient(#c1336c, #36a4c9);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;

      & span {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(#c1336c, #36a4c9);
        filter: blur(10px);
        border-radius: 50%;
        -webkit-filter: blur(10px);
      }

      &::after {
        content: "";
        position: absolute;
        width: 38.9rem;
        height: 38.9rem;
        background: #0c1022;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      & .profile-img {
        position: relative;
        width: 38rem;
        height: 38rem;
        border-radius: 50%;
        z-index: 1;
        overflow: hidden;
        animation: zoomIn 1s linear infinite;
        -webkit-animation: zoomIn 1s linear infinite alternate;
        & img {
          width: 36rem;
          height: 36rem;
          border-radius: 50%;
          object-fit: cover;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
        }
      }
    }
  }
}

/***** End Hero Section *****/

/***** About Section *****/

.about {
  width: 100%;
  margin: 0;
  & .about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 110rem;
    margin: 0 auto;
    padding: 10rem 3rem;

    & .about-txt {
      display: flex;
      flex-direction: column;
      gap: 3.4rem;

      & h2 {
        font-size: 5.2rem;
      }
      & p {
        font-size: 1.6rem;
        line-height: 1.4;
        max-width: 100%;
      }
      & .btn {
        position: relative;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 18rem;
        font-size: 1.6rem;
        height: 4.8rem;
        border-radius: 4rem;
        -webkit-border-radius: 4rem;
        -moz-border-radius: 4rem;
        -ms-border-radius: 4rem;
        -o-border-radius: 4rem;
        font-size: 1.9rem;
        color: #fff;
        font-weight: 600;
        letter-spacing: 0.1rem;
        z-index: 1;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(30deg, #f06, #3cf, #f06);
          z-index: -1;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          background-position: 0 0;
          filter: blur(5px);
          -webkit-filter: blur(5px);
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          inset: 0;
          background: linear-gradient(45deg, #f06, #3cf, #f06);
          z-index: -1;
          background-position: 0 0;
          border-radius: 4rem;
          -webkit-border-radius: 4rem;
          -moz-border-radius: 4rem;
          -ms-border-radius: 4rem;
          -o-border-radius: 4rem;
          background-size: 200%;
          transition: 0.3s ease-in;
          -webkit-transition: 0.3s ease-in;
          -moz-transition: 0.3s ease-in;
          -ms-transition: 0.3s ease-in;
          -o-transition: 0.3s ease-in;
        }
        &:hover::after {
          background-position: 100% 0;
        }
      }
      & .details-container {
        display: flex;
        justify-content: space-between;
        font-size: 1.6rem;

        & .details-1 p {
          line-height: 1.5;
          font-size: 1.5rem;
        }
        & .details-2 p {
          line-height: 1.5;
          font-size: 1.5rem;
        }
      }
    }
  }
  .about-img {
    width: 40rem;
    height: 50rem;

    & .glowing-circle {
      width: 100%;
      height: 100%;
      background: linear-gradient(#f06, #3cf);
      border-radius: 20%;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      & span {
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(#f06, #3cf);
        filter: blur(10px);
        border-radius: 20%;
        -webkit-filter: blur(10px);
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
      }

      &::after {
        content: "";
        position: absolute;
        width: 40rem;
        height: 50rem;
        background: #0c1022;
        border-radius: 20%;
        -webkit-border-radius: 20%;
        -moz-border-radius: 20%;
        -ms-border-radius: 20%;
        -o-border-radius: 20%;
      }
      & .profile-img {
        position: relative;
        width: 40rem;
        height: 50rem;
        border-radius: 20%;
        z-index: 1;
        overflow: hidden;
        & img {
          width: 40rem;
          height: 50rem;
          border-radius: 20%;
          object-fit: cover;
          object-position: top;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          -moz-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          -o-transform: translate(-50%, -50%);
          -webkit-border-radius: 20%;
          -moz-border-radius: 20%;
          -ms-border-radius: 20%;
          -o-border-radius: 20%;
        }
      }
    }
  }
}
/***** End About Section *****/

/***** Skills Section *****/

.skills {
  width: 100%;
  height: 25rem;
  max-width: 110rem;
  margin: 5rem auto;

  .skills-content {
    text-align: center;
    & h2 {
      font-size: 5.5rem;
    }
    & .icons-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 2.6rem;
      margin: 5rem;

      & .icons-1 {
        animation: zoomIn 1s linear infinite;
        -webkit-animation: zoomIn 1s linear infinite alternate;
      }
    }
  }
}

/***** End Skills Section *****/

/***** Experience Section *****/
.Experience {
  width: 100%;
  height: 40rem;
  & header {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      font-size: 5.5rem;
      margin-top: 2.6rem;
    }
    & p {
      margin-top: 1rem;
      font-size: 1.6rem;
      color: #ccc;
    }
  }
  & .card-container {
    display: flex;
    gap: 2rem;
    justify-content: space-evenly;
    max-width: 65%;
    margin: 0 auto;
    & .card {
      display: flex;
      width: fit-content;
      padding: 2rem;
      align-items: center;
      margin-top: 4.6rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      gap: 2.6rem;
      background-color: rgba(0, 0, 0, 0.5);

      & .card-img {
        & img {
          width: 30rem;
          border-top-left-radius: 2rem;
          border-bottom-left-radius: 2rem;
        }
      }
      & .card-txt {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        & h2 {
          font-size: 2.5rem;
        }
        & h3 {
          font-size: 2rem;
        }
        & p {
          font-size: 1.6rem;
        }
      }
    }
  }
}
.My-Experience {
  width: 100%;
  height: 40rem;
  & header {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      font-size: 5.5rem;
      margin-top: 2.6rem;
    }
    & p {
      margin-top: 1rem;
      font-size: 1.6rem;
      color: #ccc;
    }
  }
  & .card-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    max-width: 77%;
    margin: 0px auto;
    & .card {
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 40rem;
      margin-bottom: 4rem;
      padding: 3.2rem;
      align-items: center;
      margin-top: 4.6rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      gap: 2.6rem;
      background-color: rgba(0, 0, 0, 0.5);

      & .card-img {
        & img {
          width: 33rem;
          background-color: #fff;
          padding: 2.5rem;
          border-radius: 2rem;
          -webkit-border-radius: 2rem;
          -moz-border-radius: 2rem;
          -ms-border-radius: 2rem;
          -o-border-radius: 2rem;
        }
      }
      & .card-txt {
        display: flex;
        flex-direction: column;
        gap: 1.3rem;

        & h2 {
          font-size: 2.5rem;
        }
        & h4 {
          font-size: 1.6rem;
        }
        & p {
          font-size: 1.6rem;
        }
      }
    }
  }
}

/***** End Experience Section *****/

/***** latest work Section *****/

.latest-work {
  width: 100%;
  height: 60rem;
  margin: 30rem auto 10rem auto;
  & header {
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    & h2 {
      font-size: 5.5rem;
      margin-top: 2.6rem;
    }
    & p {
      margin-top: 1rem;
      font-size: 1.6rem;
      color: #ccc;
    }
  }
  & .card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 77%;
    margin: 0px auto;
    & .card {
      display: flex;
      flex-direction: column;
      width: fit-content;
      max-width: 40rem;
      margin-bottom: 4rem;
      padding: 3.2rem;
      align-items: center;
      margin-top: 4.6rem;
      border-radius: 2rem;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      gap: 2.6rem;
      background-color: rgba(0, 0, 0, 0.5);

      & .card-img {
        & img {
          width: 38rem;
          padding: 1.6rem;
        }
      }
      & h2 {
        font-size: 2.6rem;
        margin-top: -2rem;
      }
    }
  }
}
.btn-container {
  display: flex;
  gap: 3rem;
  & .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 3.8rem;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    font-size: 1.6rem;
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.1rem;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      background: linear-gradient(30deg, #f06, #3cf, #f06);
      z-index: -1;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      background-size: 200%;
      background-position: 0 0;
      filter: blur(5px);
      -webkit-filter: blur(5px);
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      inset: 0;
      background: linear-gradient(45deg, #f06, #3cf, #f06);
      z-index: -1;
      background-position: 0 0;
      border-radius: 4rem;
      -webkit-border-radius: 4rem;
      -moz-border-radius: 4rem;
      -ms-border-radius: 4rem;
      -o-border-radius: 4rem;
      background-size: 200%;
      transition: 0.3s ease-in;
      -webkit-transition: 0.3s ease-in;
      -moz-transition: 0.3s ease-in;
      -ms-transition: 0.3s ease-in;
      -o-transition: 0.3s ease-in;
    }
    &:hover::after {
      background-position: 100% 0;
    }
  }
}

/***** End latest work Section *****/

/***** Footer Section *****/
/* 
footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #000;
  height: 6rem;
}
 */
/***** End Footer Section *****/

/***** KeyFrames *****/

@keyframes zoomIn {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

/***** End KeyFrames *****/

/***** scrollbar Section *****/

/* width */
::-webkit-scrollbar {
  width: 0.9rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a3a3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#eb1d6f, #10baf3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}

/***** End scrollbar Section *****/

/***** preloader *****/

#preloader {
  background: #000000 url("../Images/m.gif") no-repeat center center;
  background-size: 10%;
  height: 100vh;
  width: 100%;
  position: fixed;
  transition: all 1s;
  z-index: 9999;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

/***** End preloader *****/

/***** Responsiveness *****/

@media screen and (width <= 1152px) {
  .hero .hero-content {
    order: 2;
  }
  .hero .hero-profile-img {
    order: 1;
  }
  .Experience .card-container .card .card-txt h2 {
    font-size: 2.6rem;
  }
  .Experience .card-container .card .card-txt h3 {
    font-size: 1.7rem;
  }
}
@media screen and (width <= 968px) {
  .about .about-content {
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    max-width: 95%;
    margin: 0 auto;
    padding: 10% 5%;
  }
  .Experience .card {
    flex-direction: column;
  }
  .Experience {
    margin-bottom: 5rem;
    height: 60rem;
  }
  .Experience .card-container .card .card-img img {
    width: 100%;
    border-radius: 2rem;
  }
}
@media screen and (width > 768px) {
  .header .menu {
    display: none;
  }
}

@media screen and (width <= 768px) {
  html {
    font-size: 52.25%;
  }
  .header nav {
    display: none;
  }

  .Experience {
    height: 72rem;
  }
}
@media screen and (width <= 560px) {
  html {
    font-size: 48.25%;
  }
  .skills {
    width: 100%;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .My-Experience .card-txt h4 {
    font-size: 1.6rem;
    line-height: 1.2;
  }
  #preloader {
    background-size: 30%;
  }
  .My-Experience .card-container .card .card-txt h2 {
    font-size: 3.4rem;
  }
}
@media screen and (width <= 460px) {
  .Experience .card-container .card .card-txt {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  .hero .hero-content h1 {
    font-size: 3.7rem;
  }
  .hero .hero-content h2 {
    font-size: 3rem;
  }
}
/***** End Responsiveness *****/
